<h1>Your profile</h1>

<p>Name:      <strong><%= current_user.name %></strong></p>
<p>Time zone: <strong><%= current_user.time_zone %></strong></p>

<p>
  <h2>Registrations:</h2>
  <ul>
    <% current_user.registrations.each do |registration| %>
      <li><%= registration.provider %>: <strong><%= registration.uid %></strong></li>
    <% end %>
  </ul>

  <div>
    <%= link_to 'Add twitter registration', '/auth/twitter' %> |
    <%= link_to 'Add facebook registration', '/auth/facebook' %>
  </div>
</p>

<%= button_group do %>
  <%= button_link_to "Go to your sites", sites_path %>
  <%= edit_button_link_to "Edit profile", edit_profile_path %>
  <%= negative_remove_button_link_to "Delete account", profile_path, {
    :confirm => 'Are you really, really sure you want to delete your account?',
    :method => :delete
  } %>
<% end %>
