<h2>Your profile</h2>

<p>Name:      <strong><%= current_user.name %></strong></p>
<p>Time zone: <strong><%= current_user.time_zone %></strong></p>

<p>
  <h2>Registrations:</h2>
  <ul>
    <% current_user.registrations.each do |registration| %>
      <li><%= registration.provider %>: <strong><%= registration.uid %></strong></li>
    <% end %>
  </ul>

  <div>
    <%= link_to 'Add twitter registration', '/auth/twitter' %> |
    <%= link_to 'Add facebook registration', '/auth/facebook' %>
  </div>
</p>

<%= link_to "Go to your sites", sites_path, class: 'btn btn-default' %>
<%= link_to "Edit profile", edit_profile_path, class: 'btn btn-default' %>
<%= link_to "Delete account", profile_path, class: 'btn btn-danger', data: {
  confirm: 'Are you really, really sure you want to delete your account?',
  method: :delete
} %>
