<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :days %><br />

    <%= f.check_box :monday    %> Monday    <br />
    <%= f.check_box :tuesday   %> Tuesday   <br />
    <%= f.check_box :wednesday %> Wednesday <br />
    <%= f.check_box :thursday  %> Thursday  <br />
    <%= f.check_box :friday    %> Friday    <br />
    <%= f.check_box :saturday  %> Saturday  <br />
    <%= f.check_box :sunday    %> Sunday    <br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
