<h2>
  <%= @title %>
  <%= link_to 'Open links', '#', id: 'open-links', class: 'btn btn-primary' %>
</h2>

<p>
  Now is <strong><%= current_time.to_s(:long) %></strong>
</p>

<table class="table table-hover">
  <tr>
    <th>Site</th>
    <th>Days</th>
    <th></th>
  </tr>

  <% @sites.each do |site| %>
    <tr>
      <td class="site">
        <%= favicon site %>
        <%= link_to site.title, site.url, target: '_newtab', class: 'js-link' %>
      </td>
      <td><%= site.day_names %></td>
      <td align="center">
        <%= link_to 'Edit', edit_site_path(site), class: 'btn btn-default' %>
        <%= link_to 'Remove', site, class: 'btn btn-danger', data: {
          confirm: 'Are you sure?',
          method: :delete,
        } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New site',        new_site_path,  class: 'btn btn-default' %>
<%= link_to 'Sites for today', sites_path,     class: 'btn btn-default' %>
<%= link_to 'All sites',       all_sites_path, class: 'btn btn-default' %>

Or, show sites for

<div class="dropdown day-select">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    a particular day
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <% Site.day_names_for_select.each do |name, id| %>
      <li><a href="#" data-id="<%= id %>"><%= name.titleize %></a></li>
    <% end %>
  </ul>
</div>
