<h1><%= @title %></h1>

<p>
  Now is <strong><%= current_time.to_s(:long) %></strong>
</p>

<%= big_button_link_to 'Open links', '#', :id => 'open-links' %>

<table>
  <tr>
    <th>Site</th>
    <th>Days</th>
    <th>Actions</th>
  </tr>

  <% @sites.each do |site| %>
    <tr class="<%= cycle('alt', '') %>">
      <td class="site">
        <%= favicon site %>
        <%= link_to site.title, site.url, :target => '_newtab', :class => 'js-link' %>
      </td>
      <td><%= site.day_names %></td>
      <td align="center">
        <%= button_group do %>
          <%= edit_button_link_to 'Edit', edit_site_path(site) %>
          <%= negative_remove_button_link_to 'Remove', site, {
            :confirm => 'Are you sure?',
            :method  => :delete
          } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= button_group do %>
  <%= big_button_link_to 'New site',        new_site_path %>
  <%= big_button_link_to 'Sites for today', sites_path %>
  <%= big_button_link_to 'All sites',       all_sites_path %>
<% end %>

Or, show sites for day: <%= select_tag 'day', options_for_select(Site.day_names_for_select), :class => 'day-select' %>
