<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @site.title %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @site.url, @site.url %>
</p>

<p>
  <b>Days:</b>
  <%= @site.day_names %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
